#Binary Files
*.bin
*.sys
*.elf

#The images
*.img
*.qcow2
*.vmdk

#Object files
*.o

#GDB files
.gdbinit

#VSCode
.vscode
.bash_history
.gdb_history

#PVStudio
*.tasks*
strace_out
*.log
*.lic
.config